.bank-account-page {
  padding: 20px;
}

.search-filter-box {
  display: flex;
  margin-bottom: 20px;
  width: 300px;
}

.search-filter-box input {
  margin-right: 10px;
}

.range-picker-box {
  margin-bottom: 20px;
}