.detail-page {
  padding: 20px;
}

.card-box {
  border: 1px solid lightgray;
  height: 300px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  padding: 20px;
  margin-top: 20px;
}

h2 {
  border-bottom: 1px solid lightgray;
  width: 190px;
}

table {
  text-align: left;
}